@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin:0;
    padding:0;
    border:0;
}

.row {
  padding-top: 20px;
}

body{
    margin-top:20px;
}

.copyright {
  text-align: center;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

#kettlebell {
 background-color:#fabcfb
}

#yoga {
  background-color: #9de7ce;
}

#boxercise {
  background-color: #f5d6f5;
}

#spin {
  background-color: ##6abaec;
}
#pilates {
  background-color: silver;
}

#cardio {
  background-color: #a4daa4;
}

#circuits {
  background-color: #dce3ab;
}

#boxercise {
  background-color: paleturquoise;
}


.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}




.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#label {
  font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

#label, h2 {
    color: #ffffff;
    padding: 10px;
}




h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#0b0a0a;
}

#logo{
    float: left; 
    font-size: 280%;
    margin-left: 30px;
}



#hero-image{
  height: 100vh;
  width: 100%;
 background: url("../images/hero-imageTNP.png") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center 56px;
  background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#hero-outer{
    height:600px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

p {
  font-size: 1em;
}



#circle {
  width: 200px;
    height: 200px;
    border-radius: 50%;
    position: center;
}


@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#label {
   
     lef: 1px;

    letter-spacing: 4px;
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    width: 250px;
    height: 200px;
    color: #fff;
    padding-top: 10px;
    padding-right: 10px;
    background-color: rgb(200, 14, 175, .7);
    float: left;
    bottom:60px;
    position: sticky;

}


#text-align-center {
  text-align: center;
  padding: 30px;
}

 /* Setting for address */

#address div{
   color: #fafafa;
   background-color: rgba(60, 60, 60);
   float: center;
   padding: 30px 0 30px;
   text-align: center;
   margin: 2px;

}

 /* colour for h2 */
#address h2 {
    color:#fafafa;
}

.map-header {
  top: 0px;
  text-align: center;
}

#text-col{
   padding-top:  40px;
}
/*--- navbar links ---*/

li a.active {
  background-color: #7bd0e5;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
   
   

  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;

    }
  .card-container {
    width: 100%;/*whatever size you want your container*/
  border: 3px solid teal;
  display: flex; /*Make sure to call this on your container*/
  align-items: stretch; /*stretches all cards same height*/
  justify-content: space-around; /*some space between cards*/
  height: calc(100% - 15px);
  margin: 10px !important;
          height: 70vh;
          width: auto;
  margin-bottom: 15px;
  flex-wrap: wrap;
  flex: initial; 
  }

.map-responsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    text-align: center;

}

/*----- Tutorial and code sourced from https://blog.duda.co/responsive-google-maps-for-your-website--*/

.map-responsive iframe{

    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

  /*----table design-----*/

  #kettlebell {
 background-color:#fabcfb
}

#yoga {
  background-color: #8487e1;
}

#boxercise {
  background-color: magenta;
}

#spin {
  background-color: #grey;
}
#pilates {
  background-color: silver;
}

#cardio {
  background-color: #a4daa4;
}

#circuits {
  background-color: #dce3ab;
}

#boxercise {
  backgroun-color: paleturquoise;
}

  .header-container {

    
  }

  /* Header/Logo Title */
.header-container  {
  padding: 5px;
  background: #343737;
  color: white;
  font-size: 30px;
  height: 80px; 
  margin-top: 100px;
  width:100%;
  position: sticky;
}
.top-header.h2 {
  clear:both;
  color:#ffff;
  text-align: center;
  width: 100%;
  overflow:scroll;
}

.copyright {
  text-align: center;
}
  
.footer{
    height: 200px;
    padding-top: 25px;
    position: absolute;
    margin-bottom:0;
}

}
.top-header {
  clear: both;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

  .timetable {
    text-align: center;
    background-color: grey;

  }



/* code modified from Code Institue */

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10%;
    color: #0a185c;
}

/* Font awesome and css from W3 Schools*/


.footer{
    height: 200px;
    padding-top: 25px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}


.form-section {
   width: %;

   z-index: 30;
position: re;
    left: 20px;
    bottom: 56px;
}


div {
  display: block;
}




/* Header/Logo Title */
.header-container  {
  padding: 5px;
  background: #343737;
  color: white;
  font-size: 30px;
  height: 80px; 
  margin-top: 100px
}
/* Social network links - code modified from W3 Schools */

.social-networks{f
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10%;
    color: #0a185c;
}

/* Font awesome and css from W3 Schools*/


.footer{
    height: 200px;
    padding-top: 25px;
    position: absolute;
    margin-bottom:0;
}

/* Style all font awesome icons from W3 Schools */
.fa {padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
  .find{
    text-align: center;
 
  }
/* Add a hover effect-- */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

/*---- Image settings ---*/
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}
.timetable {
  text-align: center;
}

.map {
    z-index:1;
    padding: 40px;
    text-align: center;
    position: relative;
    float: left;
}

div {
  display: block;
}

#top-header {
  clear: both;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
#iframe {
   vertical-align: middle;
   position: relative;
}
div.col {
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
      }



/* Header/Logo Title */
.header-container  {
  padding: 5px;
  background: #343737;
  color: white;
  font-size: 30px;
  height: 80px; 
  margin-top: 100px;
  width:100%;
  position: sticky;

}





.iframe {
   vertical-align: middle;
}

.div, col {
    
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
      }

@media screen and (max-width: 1393px) {

    #gym-moto {
        width: 65%;
        height: 1100px;
        margin: 0 auto; 
    }
    
  
    
    #addresses div{
        width: 100%;
        clear: both;
        height: 250px;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        padding: 0;
    }

    hr {
        display: none;
    }

  
    
@media screen and (max-width: 943px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-image {
        height: 500px;
        background-size: cover;
        background-position: center;
        background: url(../img/form-bg.png) no-repeat;

    }

    #cover-text {
        left: 0px;
    }
    
    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto; 
    }


    #photo{
        column-count:1;
    }
    
    
    #form-container {
       left:0;
    }
  #kettlebell {
 background-color:#fabcfb
}

#yoga {
  background-color: #8487e1;
}

#boxercise {
  background-color: magenta;
}

#spin {
  background-color: #grey;
}
#pilates {
  background-color: silver;
}

#cardio {
  background-color: #a4daa4;
}

#circuits {
  background-color: #dce3ab;
}

#boxercise {
  backgroun-color: paleturquoise;
}

  .card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
   

  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;

    }
  .card-container {
    width: 100%;/*whatever size you want your container*/
  border: 3px solid teal;
  display: flex; /*Make sure to call this on your container*/
  align-items: stretch; /*stretches all cards same height*/
  justify-content: space-around; /*some space between cards*/
  webkit-flex-grow: 1;
  }

    

.map-responsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    text-align: center;

}

/*----- Tutorial and code sourced from https://blog.duda.co/responsive-google-maps-for-your-website--*/

.map-responsive iframe{

    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

    l {
  list-style-type: none;
  background-color: #f1f1f1;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}
/*---- flexbox gallery----*/
    


/*------flexbox image -------*/
/* --- flexbox settings ---*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.container-fluid::after {
  content: "";
  flex-basis: 350px;
}


/*---timetable------*/

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.kettlebell {
  background-color:gold ;
}

li a.active {
  background-color: #09fb5a;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
    


    
    
    
    
    
    @media screen and (max-width: 800px) {
    #photo {
     column-count:2;
    }
  }

    @media screen and (max-width: 1393px) {
    #gym-moto {
        width: 65%;
        height: 1100px;
        margin: 0 auto; 
    }   
  }
    #addresses div{
        width: 80%;
        clear: both;
        height: 250px;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        padding: 0;
        text-align: center;
    }

    hr {
        display: none;
    }
    .header-container {
      width:100%
    }
.row {
  margin-top: 20px;
}
  
 
    
@media screen and (max-width: 943px) {
    

    #gym-motto {
        height: 500px;
        background-size: cover;
        

    }


    #cover-text {
        left: 0px;
    }
    
    #gym-moto {
        width: 90%;
        height: 1200px;
        margin: 0 auto; 
    }


  .address {
    font-size: 20px;
} 
   .header-container {
      width:100%
    }

  
.label h2 {
    color: #ffffff;
    position: relative;
    margin-left: 20px;
}

#top-header.h2 {
  clear:both;
  color:#ffff;
  text-align: center;
  width: 100%;
  overflow:scroll;
}


th  {
    text-transform: uppercase;
    
  }
    
    #photo{
        column-count:1;
}

    
    #form-container {
       left:0;
    }
  
    
}
  @media screen and (max-width: 800px) {
   #photo  {
   column-count:1;
  
}
    #label {
      position: static;
    }
     #header-container {
      width:100%
      position: fit-content;
    }

