@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin:0;
    padding:0;
    border:0;
   
}                             

/* ------Class Timetaable-----------*/

.table-responsive body{
    margin-top:20px;
}
.table-responsive   {width:80%; overflow: scroll;}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}.

/*------Logo Size and Position---*/

#logo{
    float: left; 
    font-size: 280%;
    margin-left: 30px;
}



#hero-image{
  height: 100vh;
  width: 100%;
 background: url("../images/gym-bikes.png") no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

p {
  font-size: 1em;
}

/*------ Circle size----*/

.circle {
  width: 200px;
    height: 200px;
    border-radius: 50%;
}




#label {
    
    letter-spacing: 4px;
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    width: 250px;
    height: 200px;
    color: #fff;
    padding: 10px;
    background-color: rgba(200, 14, 175, .7);
    float: left;
    bottom:60px;

 }
  /*----Label Text Colour----*/

#label h2 {
    color: #ffffff;
    position: relative;
}

.top-header.h2 {
  clear:both;
  color:#ffff;
  text-align: center;
}

.left-about-heading{
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading{
    width:50%;
    float:left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}



   

#text-align-center {
  text-align: center;
  padding: 30px;
}

 /* Setting for address */

#address div{
   color: #fafafa;
   background-color: rgba(60, 60, 60);
   padding: 30px 0 30px;
   text-align: center;
   margin: 2px;

}

 /* colour for h2 */
#address h2 {
    color:#fafafa;
}



/* Social network lins - code modified from W3 Schools */

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10%;
    color: #0a185c;
}

/* Font awesome and css from W3 Schools*/


.footer{
    height: 200px;
    padding-top: 25px;
    position: relative;
}

/* Style all font awesome icons */
.fa {padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
  .find{
    text-align: center;
 
  }
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

/*---- Image settings ---*/
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}

.transport {
  float: right;
  
}

#google-map {
   width: 500px;
   border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#wrapper {

   width: 500px;
   border: 1px solid black;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.timetable {
  text-align: center;
}

.map {
    z-index:1;
    padding: 40px;
    text-align: center;
    position: relative;
    float: left;
}

div {
  display: block;
}




/* Header/Logo Title */
.header-container  {
  padding: 5px;
  background: #343737;
  color: white;
  font-size: 30px;
  height: 80px; 
  margin-top: 100px;
  position: relative;

}
.top-header {
  clear: both;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
#iframe {
   vertical-align: middle;
   position: relative;
}
div.col {
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
      }
@media screen and (max-width: 1393px) {
    #gym-moto {
        width: 65%;
        height: 1100px;
        margin: 0 auto; 
    }   
  }
    #addresses div{
        width: 80%;
        clear: both;
        height: 250px;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        padding: 0;
        text-align: center;
    }

    hr {
        display: none;
    }

  
    
@media screen and (max-width: 943px) {
    

    #gym-motto {
        height: 500px;
        background-size: cover;
        background: url(../img/form-bg.png) no-repeat;

    }


    #cover-text {
        left: 0px;
    }
    
    #gym-moto {
        width: 90%;
        height: 1200px;
        margin: 0 auto; 
    }


  .address {font-size: 20px;
} 

 #top-header h2-header {
    text-align: center;
  }

th  {
    text-transform: uppercase;
    
  }
    
    #photo{
        column-count:1;
}

    
    #form-container {
       left:0;
    }
    
}
  @media screen and (max-width: 800px) {
   #photo  {
   column-count:1;
}
.table-responsive {
    width:fit-content;
}
}    